.all-pizzas{
    display: grid;
    grid-template-columns: 1fr;
    height: 80vh;
    position: relative;
}



@media screen and (min-width : 720px) {
    .all-pizzas{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width : 1080px) {
    .all-pizzas{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 35%;
    left: 40%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  @media screen and (min-width: 920px) {
      .loader{
          top:40%;
          left:45%;
      }
      
  }